# Python virtual environments
.venv/
*.venv

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Environment variables or secret files
.env
*.env

# IDE / editor settings
.vscode/
.idea/

# Datafile
*.csv
*.parquet